html,body {
    background-color: #e6ddde;
    font-family: futura, arial;
    color: black;
    /*height: 100%;*/
    overflow: scroll;
    cursor: default;
}

h1 {text-align: center; padding: 10px; font-weight:bold;}

.main {
    margin-top:40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{margin:1px}
.col{
    display:flex;
    background-color: white;
    border: 1px black solid;
    width: 100px; height: 100px;
    margin: 3px;
    text-align:center;
    align-items:center;
    justify-content:center;
    font-size:30px;
    font-weight:bold;
}

.pieceInput{border:none}

.start {
    border: 2px black solid;
    background-color: #314a3b;
    color:white;
    margin: 10px;
    margin-bottom:20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
}
.messages{
    color: #ffffff; 
    border:1px black dashed; 
    border-radius: 10px;
    background-color: #c5a3b1; 
    padding:10px; margin:20px; 
    font-size:16px; width:310px; 
    text-align:center;
    align-items:center;
    display:flex;
    justify-content:center;
    height: 75px;
}

.begin{background-color:antiquewhite}
.userClass{background-color:#ecc859}